<!DOCTYPE html>
<html>
   <head>
      <title>My blog</title>
      <center>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta charset="utf-8">
           <title>Test</title>
           <link rel="stylesheet" type="text/css" href="/css/style.css">
           <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
   </head>
   <body>
     <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
      <div id="header" class="section">
         <img alt="" class="img-circle" src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjf1e7904DhAhVNxaYKHdoIBGwQjRx6BAgBEAU&url=https%3A%2F%2Fscowlinowl.bandcamp.com%2F&psig=AOvVaw25TYFY2tWoP71UErXDqP8S&ust=1552619341537897">
         <p>ScowlinOwl</p>
      </div>




</center>
</html>
